@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark theme */
.dark {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.teliPhone {
  border: 1px solid #bcbcbc !important;
  height: 56px !important;
  border-radius: 4px !important;
  padding-left: 8px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
.teliPhone .react-tel-input {
  padding: 6px;
}
.teliPhone .react-tel-input input {
  border: none;
}
.teliPhone .react-tel-input .flag-dropdown {
  border: none;
}
.paymentMethodDiv {
  max-width: 885px !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
}
.previewFormDiv {
  max-width: 880px !important;
  margin: 0 auto !important;
}
